* text=auto eol=lf
*.json text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.js text eol=lf
*.ts text eol=lf
assets/3d/*.zip filter=lfs diff=lfs merge=lfs -text
assets/3d/*.rar filter=lfs diff=lfs merge=lfs -text
